.container{
    font-family: Arial, Helvetica, sans-serif;
    max-width: 300px;
    background-color: #FFFFFFBB;
    padding: 20px;
    border-radius: 10px;
    margin: auto;
    float: none;
    margin-top: 10%;
}

h1{
    margin-top: 0px;
}

input{
    width: 100%;
    display: block;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

body{
    background: url(../styles/images/churrasco.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 500px){

    .container{
        margin: auto;
    }
    
}